.top-destination{
    background-color: #f0f0f0;
    padding-bottom: 50px;
}
.top-destination .row {
    margin-left: 15px;
    margin-right: 0px; 
}
.wrapperTopCities .topCitiesTitle h3{
    color: #2B2B2B;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400
}
.wrapperTopCities .TopCities {
    border-bottom: 2px solid #86b817;
}
.wrapperTopCities table {
    margin-top: 30px;
}
.wrapperTopCities table td {
    background: #fff;
    border-right: 25px solid #f0f0f0;
    border-bottom: 30px solid #f0f0f0;
}
.ddlTopCitiesTD .link-img-hotel .image-hotel {
    height: 100%;
    width: 100%;
    border: none;
}
.ddlTopCitiesTD .CityName {
    padding: 30px 0px 30px 20px;
}
.ddlTopCitiesTD .CityName a {
    font-size: 18px;
    color: #3598dc;
}